@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-bg: #0B0F19;
  --color-surface: #111827;
  --color-surface-lighter: #1F2937;
  --color-accent: #6366F1;
  --color-text-main: #E5E7EB;
  --color-text-dim: #9CA3AF;
  --color-border-dim: #374151;
}

@layer base {
  body {
    @apply antialiased bg-bg text-text-main font-sans;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .panel-base {
    @apply bg-surface border border-border-dim rounded-xl overflow-hidden flex flex-col;
  }
  
  .panel-header-base {
    @apply px-4 py-3 border-b border-border-dim text-[11px] font-semibold uppercase tracking-wider text-text-dim flex justify-between items-center bg-surface-lighter/10;
  }
}
